<!DOCTYPE html>
<html lang="es">
  <% include("../partials/head") %>
  <body>
    <% include("../partials/header") %>

    <main class="container">
      <h1><%= title %></h1>
      <p><%= message %></p>
      <a href="/" class="btn">Volver al inicio</a>
    </main>

    <% include("../partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
