<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <main class="container">
      <%- include("../partials/flash") %>

      <section class="home">
        <h1>BackToTech</h1>
        <p>Compra y venta de tecnologia de segunda mano de forma 100% segura</p>

        <a href="/products" class="btn">Ver productos</a>
        <a href="/products/new" class="btn btn-secondary">Subir un producto</a>
      </section>
    </main>

    <%- include("../partials/footer") %>
    <script src="/js/main.js"></script>
  </body>
</html>
